In [1]:
a = 10

In [2]:
a

10

In [3]:
piyush=20

In [4]:
piyush

20

In [5]:
a+piyush

30

In [6]:
type(a)

int

In [7]:
type(piyush)

int

In [8]:
b=2.09

In [9]:
type(b)

float

In [10]:
d="Piyush"

In [11]:
type(d)

str

In [12]:
e='this is my first class'

In [13]:
type(e)

str

In [14]:
e

'this is my first class'

In [15]:
n=True

In [16]:
type(n)

bool

In [17]:
m=False

In [18]:
type(m)

bool

In [19]:
n+m

1

In [20]:
True*True

1

In [21]:
True*False

0

In [22]:
#True/False

In [23]:
v= 5+6j

In [24]:
type(v)

complex

In [25]:
v.real

5.0

In [26]:
v.imag

6.0

In [27]:
v

(5+6j)

In [28]:
print("My name is Piyush")

My name is Piyush

In [29]:
print(a)

10

In [30]:
s="Piyush"

In [31]:
type(s)

str

In [32]:
s[0]

'P'

In [33]:
s[-1]

'h'

In [34]:
s[-5]

'i'

In [35]:
k="Naman"

In [36]:
k[0:3]

'Nam'

In [37]:
k[0:2]

'Na'

In [38]:
k[0:5]

'Naman'

In [39]:
k[0:5:2]

'Nmn'

In [40]:
k[::2]

'Nmn'

In [41]:
k[::-1]

'namaN'

In [42]:
k[1:3:-1]

''

In [43]:
k[5:0:-1]

'nama'

In [44]:
k[-1::-1]

'namaN'

In [45]:
k[:-83:]

''

In [46]:
s="My name is Piyush"

String Function

In [47]:
len(s)

17

In [48]:
s.find('m')

5

In [49]:
s.find('e')

6

In [50]:
s.find("is")

8

In [51]:
s.count('i')

2

In [52]:
s.upper()

'MY NAME IS PIYUSH'

In [53]:
s.lower()

'my name is piyush'

In [54]:
s.title()

'My Name Is Piyush'

In [55]:
s.capitalize()

'My name is piyush'

In [56]:
s*3

'My name is PiyushMy name is PiyushMy name is Piyush'

Comment

In [57]:
#  "Piyus'h naja jah "

In [58]:
"""jHDGDJKABFUIWUIFUHFUHWUIAAAAAA"""

'jHDGDJKABFUIWUIFUHFUHWUIAAAAAA'

List

In [59]:
l=[1,345,45,"Piyush",True,5+7j,34.7]

In [60]:
type(l)

list

In [61]:
l[0]

1

In [62]:
l[6]

34.7

In [63]:
l[5].imag

7.0

In [64]:
[1,3,5,"Piyush Naula", True, 38.5, 5+8j]

[1, 3, 5, 'Piyush Naula', True, 38.5, (5+8j)]

In [65]:
l

[1, 345, 45, 'Piyush', True, (5+7j), 34.7]

In [66]:
l[::-1]

[34.7, (5+7j), True, 'Piyush', 45, 345, 1]

In [67]:
l[6:0:]

[]

In [68]:
l[::2]

[1, 45, True, 34.7]

In [69]:
s="Naula"

In [70]:
#l+s

In [71]:
list(s)

['N', 'a', 'u', 'l', 'a']

In [72]:
list(s)+l

['N', 'a', 'u', 'l', 'a', 1, 345, 45, 'Piyush', True, (5+7j), 34.7]

In [73]:
l

[1, 345, 45, 'Piyush', True, (5+7j), 34.7]

In [74]:
l[3]

'Piyush'

In [75]:
l[3][0:3:1]

'Piy'

In [76]:
str(l[5])

'(5+7j)'

In [77]:
str(l[4])[:2]

'Tr'

In [78]:
#l+5

In [79]:
l1=[3,4,5]

In [80]:
l+l1

[1, 345, 45, 'Piyush', True, (5+7j), 34.7, 3, 4, 5]

In [81]:
l1*3

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [82]:
l1

[3, 4, 5]

In [83]:
l

[1, 345, 45, 'Piyush', True, (5+7j), 34.7]

In [84]:
len(l)

7

Append Function

In [85]:
l.append(5)

In [86]:
l

[1, 345, 45, 'Piyush', True, (5+7j), 34.7, 5]

In [87]:
s

'Naula'

In [88]:
l.append(s)

In [89]:
l

[1, 345, 45, 'Piyush', True, (5+7j), 34.7, 5, 'Naula']

In [90]:
l1

[3, 4, 5]

In [91]:
l.append(l1)

In [92]:
l

[1, 345, 45, 'Piyush', True, (5+7j), 34.7, 5, 'Naula', [3, 4, 5]]

In [93]:
# l[7][1]

In [94]:
l[3][::2]

'Pys'

Extend Function

In [95]:
# l.extend(4)

In [96]:
l.extend("Piyush")

In [97]:
l

[1,
 345,
 45,
 'Piyush',
 True,
 (5+7j),
 34.7,
 5,
 'Naula',
 [3, 4, 5],
 'P',
 'i',
 'y',
 'u',
 's',
 'h']

In [98]:
l.extend([3,4,5])

In [99]:
l

[1,
 345,
 45,
 'Piyush',
 True,
 (5+7j),
 34.7,
 5,
 'Naula',
 [3, 4, 5],
 'P',
 'i',
 'y',
 'u',
 's',
 'h',
 3,
 4,
 5]

Insert

In [100]:
l1

[3, 4, 5]

In [101]:
l1.insert(1,"Piyush")

In [102]:
l1

[3, 'Piyush', 4, 5]

In [103]:
l1.insert(2,[2,3,4])

In [104]:
l1

[3, 'Piyush', [2, 3, 4], 4, 5]

In [105]:
l1.insert(-1,34)

In [106]:
l1

[3, 'Piyush', [2, 3, 4], 4, 34, 5]

Pop function

In [107]:
l1.pop(-1)

5

In [108]:
l1

[3, 'Piyush', [2, 3, 4], 4, 34]

In [109]:
l1.pop(2)

[2, 3, 4]

In [110]:
l1

[3, 'Piyush', 4, 34]

Remove Function

In [111]:
l1.remove(3)

In [112]:
l1

['Piyush', 4, 34]

In [113]:
#l1.remove(76)

In [114]:
l1.insert(2,[4,5,6])

In [115]:
l1

['Piyush', 4, [4, 5, 6], 34]

In [116]:
l1[2].remove(5)

In [117]:
l1

['Piyush', 4, [4, 6], 34]

In [118]:
#l1[0].remove('y')

In [119]:
l1.append(34)

In [120]:
l1.remove(34)

In [121]:
l1

['Piyush', 4, [4, 6], 34]

In [122]:
l1.remove(34)

In [123]:
l1

['Piyush', 4, [4, 6]]

In [124]:
l1=l1[::-1]

In [125]:
l1

[[4, 6], 4, 'Piyush']

In [126]:
l1.reverse()

In [127]:
l1

['Piyush', 4, [4, 6]]

In [128]:
l2=[3,5,2,6,1,8,9]

In [129]:
l2.sort()

In [130]:
l2

[1, 2, 3, 5, 6, 8, 9]

In [131]:
l3=["piyush", "lalit", "aditya", "aparna", "dipesh", "kartik", "adarsh"]

In [132]:
l3.sort()

In [133]:
l3

['adarsh', 'aditya', 'aparna', 'dipesh', 'kartik', 'lalit', 'piyush']

In [134]:
l3.sort(reverse=True)

In [135]:
l3

['piyush', 'lalit', 'kartik', 'dipesh', 'aparna', 'aditya', 'adarsh']

In [136]:
l3.index("dipesh")

3

In [137]:
l3.count("dipesh")

1

In [138]:
s3="piyush"

In [139]:
#s3[0]='a'

In [140]:
l4=[5,4,7,2,9]

In [141]:
l4[0]=8

In [142]:
l4

[8, 4, 7, 2, 9]

In [143]:
s3.replace('p','m')

'miyush'

In [144]:
s3

'piyush'

In [145]:
s3=s3.replace('p','m')

In [146]:
s3

'miyush'

Tuple

In [147]:
t=(3,4,6,6,"Piyush", [3,4,5],False)

In [148]:
type(t)

tuple

In [149]:
len(t)

7

In [150]:
t[0]

3

In [151]:
t[-1]

False

In [152]:
t[::-1]

(False, [3, 4, 5], 'Piyush', 6, 6, 4, 3)

In [153]:
l4

[8, 4, 7, 2, 9]

In [154]:
l4[0]="Piyush"

In [155]:
l4

['Piyush', 4, 7, 2, 9]

In [156]:
t[0]

3

In [157]:
#t[0]="kaniska"

In [158]:
t[::-1]

(False, [3, 4, 5], 'Piyush', 6, 6, 4, 3)

In [159]:
t=t[::-1]

In [160]:
t

(False, [3, 4, 5], 'Piyush', 6, 6, 4, 3)

In [161]:
t.count(6)

2

In [162]:
t.index(False)

0

In [163]:
s3={}

In [164]:
type(s3)

dict

Set

In [165]:
s6={2,3,4,5,6,7,8,(4,5,6,7)}

In [166]:
type(s6)

set

In [167]:
s8={3,4,5,6,3,2,5,6,6,4,6,8,4,6,7,8,5,6,9}

In [168]:
s8
#remove all the duplicate

{2, 3, 4, 5, 6, 7, 8, 9}

In [169]:
l4=[3,4,5,6,3,2,5,6,6,4,6,8,4,6,7,8,5,6,9]

In [170]:
l4=list(set(l4))

In [171]:
l4

[2, 3, 4, 5, 6, 7, 8, 9]

In [172]:
# s8[0]

In [173]:
# s8[::-1]

In [174]:
s8.add(1)

In [175]:
s8

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [176]:
s8.remove(2)

In [177]:
s8

{1, 3, 4, 5, 6, 7, 8, 9}

Dictionary

In [178]:
d={}

In [179]:
type(d)

dict

In [180]:
d1={'key':"Piyush"}

In [181]:
d1

{'key': 'Piyush'}

In [182]:
d2={'name': "Piyush", 'email':"thakurnaula001@gmail.com",'number':90272 }

In [183]:
d2

{'name': 'Piyush', 'email': 'thakurnaula001@gmail.com', 'number': 90272}

In [184]:
d3={234:"Piyu", '_dj':"naula", True:2347}

In [185]:
d3

{234: 'Piyu', '_dj': 'naula', True: 2347}

In [186]:
d3[234]

'Piyu'

In [187]:
d3[True]

2347

In [188]:
d3[1]

2347

In [189]:
d4={'name':"Piyush",'mail_id':"thakurnaula001@gmail.com",'name':"Naula"}

In [190]:
d4['name']
#value override

'Naula'

In [191]:
d5={'company':"pwskills",'courses':['web d','data science','java with dsa system design']}

In [192]:
d5

{'company': 'pwskills',
 'courses': ['web d', 'data science', 'java with dsa system design']}

In [193]:
d5['courses']

['web d', 'data science', 'java with dsa system design']

In [194]:
d5['courses'][2]

'java with dsa system design'

In [195]:
d6={'number':[2,3,4,5,6,7],'assignment':(3,4,6,7,5,5,62),'launch_date':{28,12,14},'class_time':{'web_dev':8,'Data science master': 8, 'java': 7}}

In [196]:
d6

{'number': [2, 3, 4, 5, 6, 7],
 'assignment': (3, 4, 6, 7, 5, 5, 62),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8, 'Data science master': 8, 'java': 7}}

In [197]:
d6['class_time']['java']

7

In [198]:
d6

{'number': [2, 3, 4, 5, 6, 7],
 'assignment': (3, 4, 6, 7, 5, 5, 62),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8, 'Data science master': 8, 'java': 7}}

In [199]:
d6['mentor']=['sudhanshu','krish','anurag','hitesh']

In [200]:
d6

{'number': [2, 3, 4, 5, 6, 7],
 'assignment': (3, 4, 6, 7, 5, 5, 62),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8, 'Data science master': 8, 'java': 7},
 'mentor': ['sudhanshu', 'krish', 'anurag', 'hitesh']}

In [201]:
del d6['number']

In [202]:
d6

{'assignment': (3, 4, 6, 7, 5, 5, 62),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8, 'Data science master': 8, 'java': 7},
 'mentor': ['sudhanshu', 'krish', 'anurag', 'hitesh']}

In [203]:
list(d6.keys())

['assignment', 'launch_date', 'class_time', 'mentor']

In [204]:
list(d6.values())

[(3, 4, 6, 7, 5, 5, 62),
 {12, 14, 28},
 {'web_dev': 8, 'Data science master': 8, 'java': 7},
 ['sudhanshu', 'krish', 'anurag', 'hitesh']]

In [205]:
list(d6.items())

[('assignment', (3, 4, 6, 7, 5, 5, 62)),
 ('launch_date', {12, 14, 28}),
 ('class_time', {'web_dev': 8, 'Data science master': 8, 'java': 7}),
 ('mentor', ['sudhanshu', 'krish', 'anurag', 'hitesh'])]

In [206]:
d6.pop('assignment')

(3, 4, 6, 7, 5, 5, 62)

In [207]:
d6

{'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8, 'Data science master': 8, 'java': 7},
 'mentor': ['sudhanshu', 'krish', 'anurag', 'hitesh']}

Conditionals

In [208]:
marks=int(input("Enter marks: ")) #typecasting
if marks>=80:
    print("you will be a part of A0 batch")
elif marks>=60 and marks<80:
    print("you will be a part of A1 batch")
elif marks>=40 and marks<60:
    print("you will be a part of A2 batch")
else :
    print("you will be a part of A3 batch")

you will be a part of A2 batch

In [209]:
price=int(input("Enter price: "))
if price>1000:
    print("I will not purchase")
else :
    print("I will purchase")

I will not purchase

In [210]:
price=int(input("Enter price: "))
if price>1000:
    print("I will not purchase")
    if price > 5000:
        print("This is too much!")
    elif price<2000:
        print("Its ok")

I will not purchase
Its ok

For Loop

In [211]:
l=[1,2,3,4,5,6,7,8,9]

In [212]:
l1=[]
for i in l:
    print(i+1)
    l1.append(i+1)
l1

2
3
4
5
6
7
8
9
10

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [213]:
l=["piyush", "pankaj", "rahul", "yogesh", "lalit"]

In [214]:
l1=[]
for i in l:
    print(i)
    l1.append(i.upper())
l1

piyush
pankaj
rahul
yogesh
lalit

['PIYUSH', 'PANKAJ', 'RAHUL', 'YOGESH', 'LALIT']

In [215]:
l=[1,2,3,4,"piyush","naula", 32.4, "abc"]

In [216]:
l1=[]
l2=[]
l3=[]
for i in l:
    if type(i)==int:
        l1.append(i)
    elif type(i)==float:
        l2.append(i)
    else :
        l3.append(i)
l3

['piyush', 'naula', 'abc']

In [217]:
l=[1,2,3,4,5]

In [218]:
for i in l:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [219]:
l1=["piyush", "Kumar", "Naula", "Pankaj"]

In [220]:
for i in l1:
    if i=="Kumar":
        break
    print(i)
else :
    print("else part will execute only if for loop complete")

piyush

In [221]:
for i in l1:
    if i=="Kumar":
        continue
    print(i)
else :
    print("else part will execute only if for loop complete")

piyush
Naula
Pankaj
else part will execute only if for loop complete

Range Function

In [222]:
range(5)

range(0, 5)

In [223]:
list(range(5))

[0, 1, 2, 3, 4]

In [224]:
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [225]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [226]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [227]:
l1=["Piyush","Naula", "Pankaj", "Aghariya"]

In [228]:
list(range(len(l1)))

[0, 1, 2, 3]

In [229]:
for i in range(len(l1)):
    print(l1[i])

Piyush
Naula
Pankaj
Aghariya

In [230]:
list(range(len(l1)-1,-1,-1))

[3, 2, 1, 0]

In [231]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

Aghariya
Pankaj
Naula
Piyush

In [232]:
l2=[1,2,3,4,5,6,7,8,9,10,11,12]

In [233]:
list(range(0,len(l2),2))

[0, 2, 4, 6, 8, 10]

In [234]:
for i in range(0,len(l2),2):
    print(l2[i])

1
3
5
7
9
11

In [235]:
l3=[1,2,3,4,5,6,7,8,9]

In [236]:
result=0 
for i in l3:
    result+=i
result

45

In [237]:
s1="Piyush Naula"

In [238]:
for i in s1:
    print(i)

P
i
y
u
s
h

N
a
u
l
a

In [239]:
for i in range(len(s1)-1,-1,-1):
    print(s1[i])

a
l
u
a
N

h
s
u
y
i
P

In [240]:
d={"name":"Piyush", "Class": "Data science master", "Topic": ["Python", "Statistics", "Machine Learning", "Deep Learning", "Computer Vision", "Natural language processing", "Resume", "Interview"]}

In [241]:
d

{'name': 'Piyush',
 'Class': 'Data science master',
 'Topic': ['Python',
  'Statistics',
  'Machine Learning',
  'Deep Learning',
  'Computer Vision',
  'Natural language processing',
  'Resume',
  'Interview']}

In [242]:
d["name"]

'Piyush'

In [243]:
d.keys()

dict_keys(['name', 'Class', 'Topic'])

In [244]:
for i in d.keys():
    print(d[i])

Piyush
Data science master
['Python', 'Statistics', 'Machine Learning', 'Deep Learning', 'Computer Vision', 'Natural language processing', 'Resume', 'Interview']

In [245]:
d.items()

dict_items([('name', 'Piyush'), ('Class', 'Data science master'), ('Topic', ['Python', 'Statistics', 'Machine Learning', 'Deep Learning', 'Computer Vision', 'Natural language processing', 'Resume', 'Interview'])])

In [246]:
for i in d.items():
    print(i)

('name', 'Piyush')
('Class', 'Data science master')
('Topic', ['Python', 'Statistics', 'Machine Learning', 'Deep Learning', 'Computer Vision', 'Natural language processing', 'Resume', 'Interview'])

While Loop

In [247]:
a=1
while a<=10:
    print(a)
    a+=1

1
2
3
4
5
6
7
8
9
10

In [248]:
n=int(input("Enter your range: "))
sum=0
count=1
while count<=n:
    sum+=count
    count+=1
sum

15

Factorial using while loop

In [249]:
num=int(input("Enter number: "))
fact=1
while num>0:
    fact*=num
    num-=1
fact

24

Factorial using for loop

In [250]:
num=int(input("Enter number: "))
fact=1
for i in range(1,num+1):
    fact*=i
fact

24

Fibonacci Series

In [251]:
num=int(input("Enter range: "))
count=1
l=[]
a=0
while count<=num:
    if a<2:
        l.append(a)
        a+=1
    else:
        new=l[a-1]+l[a-2]
        l.append(new)
        a+=1
    count+=1
print(l)

[0, 1, 1, 2, 3]

In [252]:
num=int(input("Enter range: "))
a,b=0,1
count=0
while count<num:
    print(a)
    c=a+b
    a=b
    b=c
    count+=1

0
1
1
2
3

In [253]:
num=int(input("Enter range: "))
a,b=0,1
for i in range(num):
    print(a)
    c=a+b
    a=b
    b=c

0
1
1
2
3

In [254]:
s="Piyush"

In [255]:
s[::-1]

'hsuyiP'

In [256]:
count =0
while count<len(s):
    print(s[len(s)-count-1])
    count+=1

h
s
u
y
i
P

In [257]:
word=input("Enter string: ")
rev=""
l=len(word)
while l>0:
    rev+=word[l-1]
    l-=1
print(rev)

hsuyiP

Print Table

In [258]:
num=int(input("Enter number: "))
i=1
while i<=10:
    print(num , " x ", i, " = ", num*i)
    i+=1

4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40

In [259]:
n=5
i=1
while i<n:
    print(i)
    if i==3:
        break
    i+=1
else:
    print("This will be executed once your while will complete it successfully")

1
2
3

Comprehension

>List Comprehension

In [260]:
l=[1,2,3,4,5,6,7]

In [261]:
l1=[]
for i in l:
    l1.append(i**2)
l1

[1, 4, 9, 16, 25, 36, 49]

In [262]:
l=[2,4,6,3,5,6,9,5,4]

In [263]:
[i**2 for i in l]

[4, 16, 36, 9, 25, 36, 81, 25, 16]

In [264]:
[i for i in l if i%2==0]

[2, 4, 6, 6, 4]

In [265]:
l1=["Piyush", "Naula", "Krish", "Naik", "Sudhanshu", "Kumar"]

In [266]:
[i.upper() for i in l1]

['PIYUSH', 'NAULA', 'KRISH', 'NAIK', 'SUDHANSHU', 'KUMAR']

>Dictionary Comprehension

In [267]:
l

[2, 4, 6, 3, 5, 6, 9, 5, 4]

In [268]:
list(i**2 for i in l)

[4, 16, 36, 9, 25, 36, 81, 25, 16]

In [269]:
d={"key1": 1, "key2": 2, "key3":3, "key4": 4, "key5":5}

In [270]:
{k:v**2 for k,v in d.items()}

{'key1': 1, 'key2': 4, 'key3': 9, 'key4': 16, 'key5': 25}

In [271]:
d

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4, 'key5': 5}

In [272]:
{k:v for k,v in d.items() if v>1}

{'key2': 2, 'key3': 3, 'key4': 4, 'key5': 5}

Function

In [273]:
def test():
    pass

In [274]:
def test1():
    print("This is my very first function")

In [275]:
test1()

This is my very first function

In [276]:
# test1()+"Piyush"

In [277]:
def test2():
    return "This is my very first return"

In [278]:
test2()

'This is my very first return'

In [279]:
test2()+" Piyush"

'This is my very first return Piyush'

In [280]:
def test3():
    return "sudh",23,34.5,[1,2,3,4]

In [281]:
test3()

('sudh', 23, 34.5, [1, 2, 3, 4])

In [282]:
a,b,c,d=test3()

In [283]:
a

'sudh'

In [284]:
b

23

In [285]:
c

34.5

In [286]:
d

[1, 2, 3, 4]

In [287]:
def test4():
    a=5+6/7
    return a

In [288]:
test4()

5.857142857142857

In [289]:
a=int(input("Enetr a: "))
b=int(input("Enetr b: "))
c=int(input("Enetr c: "))
def test5(a,b,c):
    d=a+b/c
    return d
test5(a,b,c)

4.833333333333333

In [290]:
def test6(a,b):
    return a+b
test6(3,4)

7

In [291]:
test6("Piyush ", "Naula")

'Piyush Naula'

In [292]:
test6([1,2,3,4,5],[6,7,8,9])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [293]:
l=[1,2,3,4,5,6,"Piyush", "Naula", [1,2,3,4,5,6,7]]

In [294]:
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)
l1

[1, 2, 3, 4, 5, 6]

In [295]:
def test7(l):
    l1=[]
    for i in l:
        if type(i)==int:
            l1.append(i)
    return l1
test7(l)

[1, 2, 3, 4, 5, 6]

In [296]:
l2=[]
def test8(a):
    for i in a:
        if type(i)==list:
            for s in i:
                if type(s)==int:
                    l2.append(s)
        else:
            if type(i)==int:
                l2.append(i)
    return l2
test8(l)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 7]

In [297]:
l2=[]
def test9(a):
    """This is my function to extract integer from a list"""
    for i in a:
        if type(i)==list:
            for s in i:
                if type(s)==int:
                    l2.append(s)
        else:
            if type(i)==int:
                l2.append(i)
    return l2
test9(l)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 7]

In [298]:
def test10(a,b):
    return a+b

In [299]:
def test11(*args):
    return args

In [300]:
type(test11())

tuple

In [301]:
test11(1,2,3,4)

(1, 2, 3, 4)

In [302]:
def test12(*piyush):
    return piyush

In [303]:
test12(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)

In [304]:
def test13(*args,a):
    return args, a

In [305]:
test13(1,2,3,4,5,6, a=24)

((1, 2, 3, 4, 5, 6), 24)

In [306]:
def test14(c,d,a=23,b=1):
    return a,b,c,d

In [307]:
test14(3,4,a=7,b=9)

(7, 9, 3, 4)

In [308]:
def test15(**kwargs):
    return kwargs

In [309]:
type(test15())

dict

In [310]:
test15(a=[1,2,3,4],b="sudh",c=34.5)

{'a': [1, 2, 3, 4], 'b': 'sudh', 'c': 34.5}

Generator Function

In [311]:
range(10)

range(0, 10)

In [312]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

Fibonacci Series

In [313]:
def test_fib(n):
    a,b=0,1
    for i in range(n):
        yield a
        a,b=b,a+b

In [314]:
test_fib(10)

In [315]:
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [316]:
def test_fib1(n):
    a,b=0,1
    while True:
        yield a
        a,b=b,a+b

In [317]:
fib=test_fib1(10)
type(fib)
for i in range(10):
    print(next(fib))

0
1
1
2
3
5
8
13
21
34

In [318]:
s="sudh"

In [319]:
for i in s:
    print(i)

s
u
d
h

In [320]:
s

'sudh'

In [321]:
# next(s)

In [322]:
s1=iter(s)

In [323]:
type(s1)

str_ascii_iterator

In [324]:
next(s1)

's'

In [325]:
next(s1)

'u'

In [326]:
next(s1)

'd'

In [327]:
next(s1)

'h'

In [328]:
def count_test(n):
    count=1
    while count<=n:
        yield count
        count+=1

In [329]:
c=count_test(5)
type(c)

generator

In [330]:
for i in c:
    print(i)

1
2
3
4
5

Lambda Function

In [331]:
n=3
p=2

In [332]:
def test(n,p):
    return n**p

In [333]:
test(3,2)

9

In [334]:
a=lambda n,p:n**p
type(a)

function

In [335]:
a(3,2)

9

In [336]:
add = lambda x,y:x+y

In [337]:
add(4,5)

9

In [338]:
c_to_f=lambda c:(9/5)*c+32

In [339]:
c_to_f(45)

113.0

In [340]:
finding_max=lambda x,y:x if x>y else y

In [341]:
finding_max(5,7)

7

In [342]:
s="Piyush"

In [343]:
strlen=lambda s:len(s)

In [344]:
strlen(s)

6

Map, Reduce & Filter Function

In [345]:
l=[2,3,4,5,6]

In [346]:
def test(l):
    l1=[]
    for i in l:
        l1.append(i**2)
    return l1

In [347]:
test(l)

[4, 9, 16, 25, 36]

In [348]:
def sq(x):
    return x**2

In [349]:
list(map(sq,l))

[4, 9, 16, 25, 36]

In [350]:
list(map(lambda x:x**2,l))

[4, 9, 16, 25, 36]

In [351]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]

In [352]:
list(map((lambda x,y:x+y), l1,l2))

[7, 9, 11, 13, 15]

In [353]:
s="Piyush"
list(map(lambda x:x.upper(),s))

['P', 'I', 'Y', 'U', 'S', 'H']

In [354]:
from functools import reduce

In [355]:
l=[1,2,3,4,5]

In [356]:
reduce(lambda x,y:x+y,l)

15

In [357]:
# reduce(lambda x,y,z:x+y+z,l)

In [358]:
# reduce(lambda x,y:x+y,[])

In [359]:
reduce(lambda x,y:x+y,[1])

1

In [360]:
reduce(lambda x,y:x*y,l)

120

In [361]:
l

[1, 2, 3, 4, 5]

In [362]:
reduce(lambda x,y:x if x>y else y, l)

5

In [363]:
l

[1, 2, 3, 4, 5]

In [364]:
list(filter(lambda x:x%2==0,l))

[2, 4]

In [365]:
list(filter(lambda x:x%2!=0,l))

[1, 3, 5]

In [366]:
l1=[-3,4,5,6,-1,-5]

In [367]:
list(filter(lambda x:x<0, l1))

[-3, -1, -5]

In [368]:
l2=["piyush", "naula", "pankaj", "aghariya", "krish", "naik"]

In [369]:
list(filter(lambda x:len(x)<6,l2))

['naula', 'krish', 'naik']