In [1]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\piyush naula\appdata\local\programs\python\python312\lib\site-packages (4.10.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\piyush naula\appdata\local\programs\python\python312\lib\site-packages (from pymongo) (2.7.0)

In [2]:
import pymongo
uri = "mongodb+srv://pwskills:pwskills@cluster0.ofjac.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
client = pymongo.MongoClient(uri)
db = client.test

In [3]:
db

Database(MongoClient(host=['cluster0-shard-00-01.ofjac.mongodb.net:27017', 'cluster0-shard-00-00.ofjac.mongodb.net:27017', 'cluster0-shard-00-02.ofjac.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='Cluster0', authsource='admin', replicaset='atlas-ynw730-shard-0', tls=True), 'test')

In [4]:
db = client['pwskills']

In [5]:
data = {"name": "Piyush", "class": "Data Science Masters", "time": "flexi"}

In [6]:
coll_pwskills=db["my_record"]

In [7]:
coll_pwskills.insert_one(data)

InsertOneResult(ObjectId('673211efac9247e4f604d6ae'), acknowledged=True)

In [8]:
data1={"mail_id":"Piyush@gmail.com", "phone_number": 7638269, "address":"bangalore"}

In [9]:
coll_pwskills.insert_one(data1)

InsertOneResult(ObjectId('673211f0ac9247e4f604d6af'), acknowledged=True)

In [10]:
data2 = [
    {"name": "Amy", "address": "Apple st 652"},
    {"name": "Hannah", "address": "Mountain 21" },
    { "name": "Michael", "address": "Valley 345" },
    { "name": "Sandy", "address": "Ocean blvd 2"},
    { "name": "Betty", "address": "Green Grass 1" },
    { "name": "Richard", "address": "Sky st 331"},
    { "name": "Susan", "address": "One way 98"},
    { "name": "Vicky", "address": "Yellow Garden 2" },
    { "name": "Ben", "address": "Park Lane 38" },
    { "name": "William", "address": "Central st 954"},
    { "name": "Chuck", "address": "Main Road 989" },
    { "name": "Viola", "address": "Sideway 1633" }
]

In [11]:
coll_pwskills.insert_many(data2)

InsertManyResult([ObjectId('673211f0ac9247e4f604d6b0'), ObjectId('673211f0ac9247e4f604d6b1'), ObjectId('673211f0ac9247e4f604d6b2'), ObjectId('673211f0ac9247e4f604d6b3'), ObjectId('673211f0ac9247e4f604d6b4'), ObjectId('673211f0ac9247e4f604d6b5'), ObjectId('673211f0ac9247e4f604d6b6'), ObjectId('673211f0ac9247e4f604d6b7'), ObjectId('673211f0ac9247e4f604d6b8'), ObjectId('673211f0ac9247e4f604d6b9'), ObjectId('673211f0ac9247e4f604d6ba'), ObjectId('673211f0ac9247e4f604d6bb')], acknowledged=True)

In [12]:
data3={
    "name": "notebook",
    "qty": 50,
    "rating": [ { "score": 8}, { "score": 9}],
    "size": { "height": 11, "width": 8.5, "unit": "in" },
    "status": "A",
    "tags": [ "college-ruled", "perforated"]
}

In [13]:
coll_pwskills.insert_one(data3)

InsertOneResult(ObjectId('673211f1ac9247e4f604d6bc'), acknowledged=True)

In [14]:
list_of_records = [
    {'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'},
    {'companyName': 'iNeuron', 'product': 'Affordable AI', ' CourseOffered': 'Deep Learning for NLP and Computer Vision'},
    {'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
]

In [15]:
coll_pwskills.insert_many(list_of_records)

InsertManyResult([ObjectId('673211f1ac9247e4f604d6bd'), ObjectId('673211f1ac9247e4f604d6be'), ObjectId('673211f1ac9247e4f604d6bf')], acknowledged=True)

In [16]:
coll_pwskills.find_one()

{'_id': ObjectId('673211efac9247e4f604d6ae'),
 'name': 'Piyush',
 'class': 'Data Science Masters',
 'time': 'flexi'}

In [17]:
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('673211efac9247e4f604d6ae'), 'name': 'Piyush', 'class': 'Data Science Masters', 'time': 'flexi'}
{'_id': ObjectId('673211f0ac9247e4f604d6af'), 'mail_id': 'Piyush@gmail.com', 'phone_number': 7638269, 'address': 'bangalore'}
{'_id': ObjectId('673211f0ac9247e4f604d6b0'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('673211f0ac9247e4f604d6b1'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('673211f0ac9247e4f604d6b2'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('673211f0ac9247e4f604d6b3'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('673211f0ac9247e4f604d6b4'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('673211f0ac9247e4f604d6b5'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('673211f0ac9247e4f604d6b6'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('673211f0ac9247e4f604d6b7'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('673211f0ac9247e4f604d6b8'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('673211f0ac9247e4f604d6b9'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('673211f0ac9247e4f604d6ba'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('673211f0ac9247e4f604d6bb'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('673211f1ac9247e4f604d6bc'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('673211f1ac9247e4f604d6bd'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('673211f1ac9247e4f604d6be'), 'companyName': 'iNeuron', 'product': 'Affordable AI', ' CourseOffered': 'Deep Learning for NLP and Computer Vision'}
{'_id': ObjectId('673211f1ac9247e4f604d6bf'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [18]:
for i in coll_pwskills.find({'name': "Piyush"}):
    print(i)

{'_id': ObjectId('673211efac9247e4f604d6ae'), 'name': 'Piyush', 'class': 'Data Science Masters', 'time': 'flexi'}

In [19]:
for i in coll_pwskills.find({"companyName":"iNeuron"}):
    print(i)

{'_id': ObjectId('673211f1ac9247e4f604d6bd'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('673211f1ac9247e4f604d6be'), 'companyName': 'iNeuron', 'product': 'Affordable AI', ' CourseOffered': 'Deep Learning for NLP and Computer Vision'}
{'_id': ObjectId('673211f1ac9247e4f604d6bf'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [20]:
random_data = [
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}
]

In [21]:
coll_pwskills.insert_many(random_data)

InsertManyResult(['3', '4', '5'], acknowledged=True)

In [22]:
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('673211efac9247e4f604d6ae'), 'name': 'Piyush', 'class': 'Data Science Masters', 'time': 'flexi'}
{'_id': ObjectId('673211f0ac9247e4f604d6af'), 'mail_id': 'Piyush@gmail.com', 'phone_number': 7638269, 'address': 'bangalore'}
{'_id': ObjectId('673211f0ac9247e4f604d6b0'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('673211f0ac9247e4f604d6b1'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('673211f0ac9247e4f604d6b2'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('673211f0ac9247e4f604d6b3'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('673211f0ac9247e4f604d6b4'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('673211f0ac9247e4f604d6b5'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('673211f0ac9247e4f604d6b6'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('673211f0ac9247e4f604d6b7'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('673211f0ac9247e4f604d6b8'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('673211f0ac9247e4f604d6b9'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('673211f0ac9247e4f604d6ba'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('673211f0ac9247e4f604d6bb'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('673211f1ac9247e4f604d6bc'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('673211f1ac9247e4f604d6bd'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('673211f1ac9247e4f604d6be'), 'companyName': 'iNeuron', 'product': 'Affordable AI', ' CourseOffered': 'Deep Learning for NLP and Computer Vision'}
{'_id': ObjectId('673211f1ac9247e4f604d6bf'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [23]:
for i in coll_pwskills.find({"_id": {"$gte": "4"}}):
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [24]:
coll_pwskills.update_many({'companyName': 'iNeuron'},{"$set":{'companyName': 'pwskills'}})

UpdateResult({'n': 6, 'electionId': ObjectId('7fffffff00000000000000a4'), 'opTime': {'ts': Timestamp(1731334641, 10), 't': 164}, 'nModified': 6, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1731334641, 10), 'signature': {'hash': b'k\xd7\xb8\xf5\xf6\xb0\x1e\xae\x92\xdd\xb8:M\xc1\x9f!\xe8N\xd6\xef', 'keyId': 7376643323433320483}}, 'operationTime': Timestamp(1731334641, 10), 'updatedExisting': True}, acknowledged=True)

In [25]:
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('673211efac9247e4f604d6ae'), 'name': 'Piyush', 'class': 'Data Science Masters', 'time': 'flexi'}
{'_id': ObjectId('673211f0ac9247e4f604d6af'), 'mail_id': 'Piyush@gmail.com', 'phone_number': 7638269, 'address': 'bangalore'}
{'_id': ObjectId('673211f0ac9247e4f604d6b0'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('673211f0ac9247e4f604d6b1'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('673211f0ac9247e4f604d6b2'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('673211f0ac9247e4f604d6b3'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('673211f0ac9247e4f604d6b4'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('673211f0ac9247e4f604d6b5'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('673211f0ac9247e4f604d6b6'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('673211f0ac9247e4f604d6b7'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('673211f0ac9247e4f604d6b8'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('673211f0ac9247e4f604d6b9'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('673211f0ac9247e4f604d6ba'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('673211f0ac9247e4f604d6bb'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('673211f1ac9247e4f604d6bc'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('673211f1ac9247e4f604d6bd'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('673211f1ac9247e4f604d6be'), 'companyName': 'pwskills', 'product': 'Affordable AI', ' CourseOffered': 'Deep Learning for NLP and Computer Vision'}
{'_id': ObjectId('673211f1ac9247e4f604d6bf'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pwskills', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pwskills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pwskills', 'Faculty': 'PQR'}